spring.application.name: kopang
spring.profiles.active: local

spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.default_batch_fetch_size: 100

---
spring.config.activate.on-profile: local

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:kopang;MODE=MySQL
    username: sa
    hikari:
      pool-name: kopang-db-pool
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  h2:
    console:
      enabled: true

---
spring.config.activate.on-profile: dev

spring:
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://${STORAGE_DATABASE_DB_URL}/${STORAGE_DATABASE_DB_NAME}
      username: ${STORAGE_DATABASE_DB_USERNAME}
      password: ${STORAGE_DATABASE_DB_PASSWORD}
      pool-name: kopang-db-pool